$main-gradient: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
$global-radius: 22px;
$main-color: #2D314D;
$sub-color: #9597A5;
$body-bg: #F2F2F2;
$highlight-color: #33d35e;
$main-highlight: #2ab6d9;
$smooth-transition: background-color 400ms ease,
opacity 400ms ease,
box-shadow 400ms ease,
text-shadow 400ms ease,
color 400ms ease;