.navmenu-togler {
  width: 30px;
  height: 15px;
  border: none;
  background: none;
  outline: none;
  background-image: url(../../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: 24px 11px;
  background-position: center center;
}