.site-header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #fff;
}

.site-header__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.site-header__logo-img {
    display: flex;
}
